body, html{
	margin: 0px;
	padding: 0px;
}

canvas {
  display: block;
	margin: auto;
	margin-top: 10px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	background: linear-gradient(to right,#060044, #002873, #060044);
}
